<div class="container">
    <div class="form-section">
        <h1 class="title">
            Sign up
        </h1>
        <p>Create a new account!</p>

        <form [formGroup]="registerForm" class="book-form">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                    <input matInput placeholder="FirstName" formControlName="firstname">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                    <input matInput placeholder="LastName" formControlName="lastname">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmpassword">
            </mat-form-field>
        </form>
        
        <button mat-raised-button (click)="register()" class="demo-button">
            Register
        </button>
        
    </div>
    
</div>

