.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .title {
      //margin-top: 50px;
      font-size: 28px;
     // font-weight: bold;
      color:  rgb(79, 77, 80);
      margin-bottom: 30px;
    }
  
    .table {
      width: 50%;
      height: auto;
      background-color: rgb(197, 201, 236);
      font-weight: bold;
  
      .delete-action, .see-profile {
        cursor: pointer;
      }
    }
  
    .demo-button {
      margin-top: 40px;
      background-color: rgb(197, 201, 236);
      font-weight: bold;
    }

    .demo-button:hover{
        color:rgb(17, 0, 255);
      }
  }
  