<div class="container">
    <h1 class="title">
      Awards
    </h1>
    <table mat-table [dataSource]="awards" class="mat-elevation-z8 table">
    
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name | page}} </td>
      </ng-container>
    
      <!-- Contest Column -->
      <ng-container matColumnDef="contest">
        <th mat-header-cell *matHeaderCellDef> Contest </th>
        <td mat-cell *matCellDef="let element"> {{element.contest}} </td>
      </ng-container>
    
      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data</th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <div> 
      <button mat-raised-button (click)="logout()" class="demo-button">
        Logout
      </button>

      <button mat-raised-button (click)="goToBookProfile(id)" class="demo-button">
        Back to book profile
      </button>
    </div>
  </div>