<div class="container">
    <h1 class="title">
      {{book.name | profile}}
    </h1>
    <mat-card class="example-card">
      <img mat-card-image
           src="https://dispatch.barnesandnoble.com/content/dam/ccr/bnstores/books/customer-favorites/2022/Books/5/PROD-23529_Customer_Fav_Book_NEW-RELEASES.gif"
           alt="profile-picture">
      <mat-card-content class = "details">
        <p>
            Id: {{book.id}}
        </p>
        <p>
            Author: {{book.author}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div class="topnav" id="myTopnav">
                <a button (click)="getAllAwards(book.id)"> Awards </a>
                <a button (click)="getAllReaders(book.id)"> Readers </a>
                <a button (click)="getAllCollections(book.id)"> Collections </a> 
            </div>
        </div>
        
        <div>
            <button mat-button class = "love-button">
              <mat-icon>favorite</mat-icon>
            </button>
            
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  